@use '@angular/material' as mat;

/* You can add global styles to this file, and also import other style files */
html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$orange-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

pre {
  code {
    display: block;
    padding: 1rem;
    background-color: var(--mat-sys-surface-container);
    border-radius: 0.5rem;
    border: 1px solid var(--mat-sys-surface-variant);
  }
}

.spacer {
  display: block;
  padding: 1rem;
}

.spacer::after {
  content: ' ';
}
