.sidenav {
  padding: 2rem;
  max-width: 300px;
}

.sidenav-content {
  padding-top: 32px;
  height: calc(100vh - 96px);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-grow: 1;
}

app-footer {
  margin-top: 2rem;
  width: 100%;
}
